/* Общие стили */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Стили для навигационного меню */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
}
.brand-logo {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    display: inline;
    margin-right: 20px;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
}

/* Стили для чата */
.chat-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#messages {
    margin-top: 20px;
    border-top: 1px solid #ccc;
    padding-top: 20px;
}

.message {
    margin-bottom: 10px;
}

.message strong {
    font-weight: bold;
    color: #333;
}

/* Стили для формы ввода сообщения */
#messageInput {
    width: calc(100% - 80px);
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

button[type="submit"] {
    padding: 8px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #555;
}

.message-container {
    max-height: 300px; /* Максимальная высота контейнера сообщений */
    overflow-y: auto; /* Включаем вертикальную прокрутку при необходимости */
}
